p{
    background-color: rgb(244, 255, 27);
}    

a{
    background-color: rgb(233, 97, 97);
    color: black;
}

div{
    background-color: rgb(89, 71, 252);
    color: black;
}
span{
    background-color: rgb(233, 97, 97);
    color: black;
}